[flake8]
# Longer line-length is more convenient for math
max-line-length = 88
exclude = .tox,pennylane
extend-ignore = W605,  # Ignoring latex syntax in docstrings
                E201   # Ignoring whitespace after '(' or '[' for matrices
