[flake8]
# Longer line-length is more convenient for math
max-line-length = 88
exclude = .tox,.venv
extend-ignore =
        # Ignoring latex syntax in docstrings
        W605,
        # Ignoring whitespace after '(' or '[' for matrices
        E201,
	E203,
        # Ignoring errors about ambiguous variable names like `I` or `O`
        E741
