.tox
dist
build

__pycache__
.pytest_cache
.mypy_cache
piquasso.egg-info/
venv/
.venv/
coverage.xml
.coverage
prof

# IDEs
.vscode
.idea

# Sphinx
docs/_build
.ipynb_checkpoints/

# Tensorboard
logdir/

# Shared libraries
*.so
