[build-system]
requires = ["scikit-build-core", "pybind11"]
build-backend = "scikit_build_core.build"

[project]
name = "piquasso"
version = "5.0.1"
description = "A simulator for photonic quantum computations."
readme = "README.md"
license = { file = "LICENSE.txt" }
keywords = ["piquasso", "quantum", "photonic"]
maintainers = [
  { name = "Budapest Quantum Computing Group", email = "kolarovszki@inf.elte.hu" },
]
requires-python = ">=3.8,<3.13"
dependencies = [
  "numpy>=1.19.5",
  "scipy>=1.5.4",
  "numba>=0.57.1",
  "quantum-blackbird==0.5.0",
]
classifiers = [
  "Intended Audience :: Developers",
  "License :: OSI Approved :: Apache Software License",
  "Natural Language :: English",
]


[project.urls]
Homepage = "https://piquasso.com"
Documentation = "https://piquasso.readthedocs.io"
Repository = "https://github.com/Budapest-Quantum-Computing-Group/piquasso"

[project.optional-dependencies]
tensorflow = ["tensorflow"]
jax = ["jax[cpu]"]
dev = [
  "pytest~=8.0.1",
  "coverage~=7.6.1",
  "mypy==1.8.0",
  "flake8~=7.1.1",
  "nbqa~=1.3.1",
  "nbmake~=1.5.4",
  "black~=24.2.0",
]
docs = [
  "sphinx~=7.1.2",
  "nbsphinx~=0.8.8",
  "furo~=2024.8.6",
  "ipython~=8.12.3",
  "sphinx-design~=0.5.0",
]
benchmark = [
  "matplotlib~=3.7.5",
  "pytest-profiling~=1.7.0",
  "pytest-benchmark~=4.0.0",
  "perceval-quandela~=0.11.2",
]

[tool.scikit-build]
cmake.verbose = true
logging.level = "INFO"
