strawberryfields~=0.23.0
matplotlib~=3.8.0

# Testing
pytest~=7.4.2
pytest-profiling~=1.7.0
pytest-benchmark~=4.0.0
coverage~=7.3.2
mypy~=1.6.1
pyproject-flake8~=6.1.0
nbqa~=1.7.0
nbmake~=1.4.6

# Formatting
black~=23.10.0

# Documentation
nbsphinx~=0.9.3
furo~=2023.9.10
